body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}
.hero_heading h1 {
    font: 100pt monospace;
    border: 5px solid red;
    color: #0f0;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 953px;
}
